/*-----
This is css for all the /pages content. in alphbetical order per page
----*/
/*-----
Arduino
----*/
.arduino h2 {
  font-size: 1.6em;
  margin-left: 30px;
}
.arduino p {
  font-size: 1.2em;
  text-align: left;
}
/*-----
  Contact
----*/
.contact p {
  font-size: 18px;
  margin-bottom: 12px;
}
/*-----
  Design
----*/
.design h2 {
  font-size: 2em;
  margin-left: 30px;
}
.design p {
  font-size: 1.2em;
  text-align: left;
}
/*-----
  Games
----*/
.games h2 {
  font-size: 1.6em;
  margin-left: 30px;
}
.games p {
  font-size: 1.2em;
  text-align: left;
}
/*-----
home
----*/
.content p {
  font-size: 2em;
  text-align: center;
  margin: 0;
}
/*-----
Intro
----*/
.intro h2 {
  font-size: 1.6em;
  margin-left: 30px;
}
.intro p {
  font-size: 1.2em;
  text-align: left;
}
/*-----
  MVP / Prototypes
----*/
.mvp h2 {
  font-size: 1.6em;
  margin-left: 30px;
}
.mvp p {
  font-size: 1.2em;
  text-align: left;
}
