@charset "UTF-8";
html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background-color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; }

.main {
  flex: 1 0 auto; }

.hero {
  margin: 50px auto 20px auto;
  height: 260px;
  width: 568px;
  border: none; }

@media only screen and (max-width: 736px) {
  .hero {
    background-image: url("../images/logo_small.png");
    height: 189px;
    width: 400px; } }

.nav {
  margin: 0 auto;
  min-height: 50px;
  background: #c7e4ff;
  background: #a5a7a9;
  width: 100%; }

.footer {
  flex-shrink: 0;
  min-height: 50px;
  background: #c7e4ff;
  border-top: 1px solid #559ac9; }

a, a:visited {
  color: blue;
  cursor: pointer;
  text-decoration: none; }

/*-----
  Basic layout of sections above
----*/
/*-----
  Hero image
----*/
.hero-image {
  background-image: url("../images/logo_large.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0; }

@media only screen and (max-width: 736px) {
  .hero-image {
    background-image: url("../images/logo_small.png"); } }

/*-----
  Nav bar with sub-menu
----*/
.nav ul {
  color: white;
  text-align: center;
  list-style: none;
  margin: 0;
  line-height: 30px;
  padding: 10px 0; }

.nav ul a {
  color: white;
  text-decoration: none; }

.nav li {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0 5px;
  border-radius: 5px; }

.nav li:before {
  content: "[ "; }

.nav li:hover:before {
  color: #ae6dca; }

.nav li:after {
  content: " ]"; }

.nav li:hover:after {
  color: #ae6dca; }

.nav a li:hover {
  color: #559ac9; }

.nav li:hover {
  background: white; }

.subNav {
  background: #676767;
  color: #ffffff;
  float: left;
  margin-top: 0; }

.subNav a, .subNav a:visited {
  color: inherit;
  text-decoration: none; }

.subNav li:hover {
  color: #fffcd6; }

.subNav:after {
  content: "";
  display: table;
  clear: both; }

/*-----
  Footer
----*/
.footer ul {
  text-align: center;
  list-style: none; }

.footer li {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 16px; }

/*-----
  Content
----*/
.content {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  padding: 50px 0; }

.hidden {
  visibility: hidden; }

.none {
  display: none !important; }
