<section class="nav subNav">
  <ul>
    <a ng-click="goto('yabee')"><li>Yabee</li></a>
    <a ng-click="goto('travel')"><li>Travel Blogging</li></a>
    <a ng-click="goto('runIMG')"><li>City Running</li></a>
    <a ng-click="goto('blog')"><li>Blog_to_Kindle</li></a>
    <a ng-click="goto('scrape')"><li>Scrape_From_Live</li></a>
  </ul>
</section>
<div class="content mvp">
  <div id="overview">
    <section>
      <figure class="mvp-intro"></figure>
      <h2>Full Stack Prototypes</h2>
      <p>I have here a few projects from my training course at General Assembly, as well as some other projects that I have worked on over the last year.</p>
      <p>Each one uses a slightly different stack, but they have similar themes throughout; user authentication, database integration, AWS storage and cloud deployed.</p>
    </section>
    <section>
      <figure class="mvp-projects"></figure>
      <h2>Node projects</h2>
      <p>I also have here two projets that I have worked on recently. Both are primarily Node.js and are more like tools than MVP's. Even though they have very specific use cases; buliding them both was a challenge, and gave me some nice problems to solve.</p>
    </section>
  </div>
  <div id="yabee">
    <section>
      <span class="fifty">
        <figure class="mvp-yabee-hero"></figure>
      </span>
      <span class="fifty">
        <h2>Yabee</h2>
        <p>Yabee; is Ebay spelled bakwards and with an extra 'e' added to help with pronouciation. It's the last project I did during my training at General Assembly and went from conception to this MVP in just over a week.</p>
        <p>The idea was to create a version of Ebay and Gumtree where it was also possible to list yourself, as a person willing to buy something. This would give sellers the option of a much quicker sale than waiting for an auction to end or for someone to respond to an add.</p>
      </span>
    </section>
    <section>
      <h2>The Stack</h2>
      <p>The styling was taken from Gumtree.com, and at the time it was made many layout features would match to the pixel. The front end is Angular, while the back end is Ruby on rails talking to an SQL database.</p>
      <figure class="mvp-yabee-stack"></figure>
    </section>
    <section>
      <span class="fifty">
        <figure class="mvp-yabee-messages"></figure>
      </span>
      <span class="fifty">
        <h2>Messenger</h2>
        <p>I wanted the sellers to be able to talk with potential buyers, so I also made a simple message service within the app which works well.</p>
        <p>Given the short sprint time this took a disproportionate amount of time to impliment.</p>
      </span>
    </section>
    <section>
      <figure class="mvp-yabee-final"></figure>
      <h2></h2>
      <p>You can see the final result here <a href="https://tranquil-sands-45779.herokuapp.com/">Yabee</a>.</p>
      <p>You can look through the frontend code here <a href="https://github.com/huwfernie/project-4-frontend">GitHub</a>,</p>
      <p>Or you can look through the backend code here <a href="https://github.com/huwfernie/project-4-api">GitHub</a>.</p>
    </section>
  </div>
  <div id="travel">
    <section>
      <span class="fifty">
        <figure class="mvp-travel-hero"></figure>
      </span>
      <span class="fifty">
        <h2>Travel Blogging</h2>
        <p>The idea for this site was to try to take some of the pain out of setting up and maintaining a personal blog, as well as being a single point to visit when looking for a bit of inspiration. So a cross between sites like <a href="http://www.instructables.com/">www.instructables.com</a> and <a href="https://medium.com/">www.medium.com</a></p>
      </span>
    </section>
    <section>
      <h2>The Stack</h2>
      <p>This site is built on a Node backend, using Express for the framework and EJS as the view engine. Blogs and users are saved in a NoSQL database.</p>
      <figure class="mvp-travel-stack"></figure>
    </section>
    <section>
      <span class="fifty">
        <figure class="mvp-travel-features"></figure>
      </span>
      <span class="fifty">
        <h2>Features</h2>
        <p>To help with presentation the site incorporates a google map with pins for each of the blogs. It also has facebook/twitter style profile pages. Blogs are written in markdown which lets the authors add some basic formatting and images can be added to blogs - these are stored on AWS.</p>
      </span>
    </section>
    <section>
      <figure class="mvp-travel-final"></figure>
      <h2></h2>
      <p>You can see the final result here <a href="https://arcane-wildwood-63612.herokuapp.com/">Travel Blog</a></p>
      <p>Or you can look through the code here: <a href="https://github.com/huwfernie/wdi25-project-2">GitHub</a>.</p>
    </section>
  </div>
  <div id="runIMG">
    <section>
      <span class="fifty">
        <figure class="mvp-runIMG-hero"></figure>
      </span>
      <span class="fifty">
        <h2>City Running</h2>
        <p>Run-IMG was a group project, 4 peoples work from a week long sprint. The idea was to map out running routes in London.</p>
        <p>The start and end point for each route would be a recognisable monument or landmark. To register a run you need to submit a picture at the start and finish of the track which we use to verify and time the run.</p>
      </span>
    </section>
    <section>
      <span class="fifty">
        <h2></h2>
        <p>That picture is then sent to the Google Vision API, which can confirm the co-ordinates of where the photo was taken. Now a timer can start and we put in Google Maps to give you an end point to race to.</p> <p>This was a fun app to build, and we felt that with a bit of tweaking and by cleverly integrating social media it could have gone somewhere.</p>
      </span>
      <span class="fifty">
        <figure class="mvp-runIMG-map"></figure>
      </span>
    </section>
    <section>
      <h2>The Stack</h2>
      <p>This is a MEAN stack app: Angular and jQuery on the frontend, with Mongo, Express and Node on the backend. As it was designed to be used on the go, all the styling was for mobile first, and as we were short on time a desktop version was never built.</p>
      <figure class="mvp-runIMG-stack"></figure>
    </section>
    <section>
      <h2></h2>
      <p>The app is online: <a href="http://huwfernie.xyz/project3-mobile.html">Run IMG</a><br />
        *However registration for Google Vision has expired, so their is limited functionality.</p>
        <p>Or you can look through the code here: <a href="https://github.com/huwfernie/wdi25-project-3">GitHub</a>.</p>
    </section>
  </div>
  <div id="blog">
    <section>
      <span class="fifty">
        <figure class="mvp-blog-hero"></figure>
      </span>
      <span class="fifty">
        <h2>Blog to Kindle</h2>
        <p>Say you sit at a computer all day, also lets imagine you like reading… but after work you really don't want to read stuff on another LCD screen. Its' great that they invented e-books like Kindle for people just for you.</p>
        <p>But, what if the thing you really want to read is online, like a blog, something like <a href="http://www.mrmoneymustache.com/">Mr Money Moustache</a> wouldn't it be great if you could turn a blog into an e-book?</p>
      </span>
    </section>
    <section>
      <h2>The Stack</h2>
      <p>This site is really a follow on from my work related <em>scrape from live</em> project. It's all Javascript working in Node, there is a simple HTML form and then a button to start the process.</p>
      <figure class="mvp-blog-stack"></figure>
    </section>
    <section>
      <span class="fifty">
        <figure class="mvp-blog-form"></figure>
      </span>
      <span class="fifty">
        <h2>Localhost</h2>
        <p>To begin with, node will start a localhost, then the form asks for some details about the blog, some are for the kindle file, the important ones are the target web address.</p>
      </span>
    </section>
    <section>
      <span class="fifty">
        <figure class="mvp-blog-process"></figure>
      </span>
      <span class="fifty">
        <h2>Process</h2>
        <p>Node can then load the first blog. Using some pre-programmed (but easily changeable) CSS selectors it's possible to strip out the body of the blog. It's also possible with CSS to find the little button inviting you to read the next blog… so blog 1 leads to 2, to 3… either until a limit is reached, or until there is no "next" button on the page.</p>
      </span>
    </section>
    <section>
      <span class="fifty">
        <figure class="mvp-blog-command"></figure>
      </span>
      <span class="fifty">
        <h2>Command Line</h2>
        <p>When all the blogs have been scraped, the titles need to be stripped out into a table of contents, and a bulid manifest has to be made. Then these files are sent into a command line tool made by Amazon, which - if everything has worked properly - will output a kindle file with the whole blog, saved as one big book.</p>
      </span>
    </section>
    <section>
      <figure class="mvp-blog-final"></figure>
      <h2></h2>
      <p class="none">You can download a sample book: <a href="">here</a>.</p>
      <p>There are still some bugs in the code so the final step doesn't work for now!</p>
      <p>If you want to help out with the code have a look here: <a href="https://github.com/huwfernie/webToKindle">GitHub</a>.</p>
    </section>
    <hr>
  </div>
  <div id="scrape">
    <section>
      <span class="fifty">
        <figure class="mvp-scrape-hero"></figure>
      </span>
      <span class="fifty">
        <h2>Scrape from live:</h2>
        <p>This started out as a tool to make work a little bit easier; let's set the scene. We're working for an agency that has to update many sites, the new design is mostly done but you need to put in a few bits of information from the current live site.</p>
        <p>Of course it is possible to do this by looking through all the files in the repo, but wouldn't it be nice to have one refence file, definitely up to date, and with just the sections you're interested in so you don't end up searching through hundreds of files.</p>
      </span>
    </section>
    <section>
      <h2>The Stack</h2>
      <p>This is really a few JavaScript functions running in Node. It needed a tiny bit of user input, so that was a small HTML form, with a tiny bit of CSS - it was never designed to be pretty!</p>
      <figure class="mvp-scrape-stack"></figure>
    </section>
    <section>
      <span class="fifty">
        <figure class="mvp-scrape-terminal"></figure>
      </span>
      <span class="fifty">
        <h2>Features</h2>
        <p>Once you run the Node app, you can go to the localy hosted homepage where you find a form.</p>
        <p>Enter details about the website you want to scrape, and what country codes you need.</p>
        <p>Figure out the CSS selector that will get you what you need.</p>
        <p>Click "go", and look for any progress/errors in the terminal.</p>
        <p>Once it's run, click "finish" and open the timestamped html file to see the results.</p>
      </span>
    </section>
    <section>
      <figure class="mvp-scrape-final"></figure>
      <h2></h2>
      <p>* this was built to work with some specific clients, for their privacy I've changed this code to work with <a href="https://en.wikipedia.org">Wikipedia</a> instead.</p>
      <p>You can see an example scrape from Wikipedia here: <a href="">Scrape from Wikipedia</a></p>
      <p>Or you can look through the code here: <a href="">GitHub</a>.</p>
    </section>
  </div>
</div>
