@media only screen  and (min-width: 736px) and (max-width: 1068px ) {

  body {
  }
  .hero {
  margin-top: 20px;
  }
  /*-----
    Basic layout of sections above
  ----*/
  /*-----
    Hero image
  ----*/
  /*-----
    Nav bar with sub-menu
  ----*/

  .subNav {
    display: block;
  }
  .nav li {
    margin-left: 6px;
    margin-right: 6px;
    }
  /*-----
    Footer
  ----*/

  /*-----
    Content
  ----*/

  .content {
    padding: 25px 0;
    width: 100%;
    overflow: hidden;
  }
  .content section {
    box-sizing: border-box;
    max-width: 780px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

  /*-----
  SECTIONS
  ----*/
  /*-----
  Generic
  ----*/
  .content h2 {
    font-size: 1.4em;
    margin-left: 0;
    padding: 0 25px;
  }
  .content p {
    text-align: justify;
    padding: 0 15px;
  }

  .fifty {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-right: -4px;
    vertical-align: top;
    & p {
      text-align: justify;
    }
    & h2 {
      margin-top: 0;
    }
    &.right {
      position: static;
    }
    &.left {
      position: static;
    }
  }

  /*-----
  Home
  ----*/
  .home p {
    font-size: 2em;
    text-align: center;
  }
  /*-----
  Arduino
  ----*/

  /*-----
  Contact
  ----*/
  .content.contact section {
    width: 470px;
    & p{
      text-align: center;
    }
  }
  /*-----
  Design
  ----*/

  /*-----
  Games
  ----*/
  .games figure {
    margin: 0 auto;
    &.right,.left {
      margin: 0 auto;
    }
  }
  .games .fifty.right figure { margin-left: auto;}
  .games #overview {
    margin-top: 50px;
    padding-top: 0;
  }
  .games #dots, .games #sudoku, .games #space, .games #poker {
    padding-top: 40px;
  }
  .games #dots section:last-of-type p,
  .games #sudoku section:last-of-type p,
  .games #space section:last-of-type p,
  .games #poker section:last-of-type p {
    text-align: center;
  }

  .games #dots .games-dots { background-image: url('../images/games/dots_small.png'); background-size: cover;  height: 360px; width: 515px;}
  .games #dots .games-dots2 { background-image: url('../images/games/dots2_small.png'); background-size: cover;  height: 360px; width: 515px; margin-top: 0;}
  .games #space .games-space { background-image: url('../images/games/space_small.png'); background-size: cover;  height: 360px; width: 515px;}
  .games #space .games-space2 { background-image: url('../images/games/space2_small.png'); background-size: cover;  height: 360px; width: 515px; margin-top: 0;}
  .games #sudoku .games-sudoku { background-image: url('../images/games/sudoku_small.png'); background-size: cover;  height: 360px; width: 515px;}
  .games #poker .games-poker { background-image: url('../images/games/poker_small.png'); background-size: cover;  height: 360px; width: 515px;}
  .games #poker .games-poker2 { background-image: url('../images/games/poker2_small.png'); background-size: cover;  height: 360px; width: 515px; margin-top: 0;}
  /*-----
  home
  ----*/

  /*-----
  Intro
  ----*/

  /*-----
  MVP / Prototypes
  ----*/
  // .mvp #overview section {
  //   height: calc(50vh - 290px;);
  // }
  // .mvp #overview {
  //   min-height: calc(50vh - 290px;);
  // }
  // .mvp #overview section {
  //   display: block;
  // }
  .mvp figure {
    margin-left: 0;
    padding: 0 ;
    width: 100%;
    height: 100%
  }
  .mvp #yabee {
    margin-top: 10px;
    padding-top: 0;
  }
  .mvp #travel, .mvp #runIMG, .mvp #blog, .mvp #scrape {
    padding-top: 0;
    padding-bottom:20px;
  }
  .mvp #yabee section:last-of-type p,
  .mvp #travel section:last-of-type p,
  .mvp #runIMG section:last-of-type p,
  .mvp #blog section:last-of-type p,
  .mvp #scrape section:last-of-type p {
    text-align: center;
  }
  .mvp #yabee,
  .mvp #travel,
  .mvp #runIMG,
  .mvp #blog,
  .mvp #scrape {
    border-top: 1px solid black;
  }
  .mvp #yabee .mvp-yabee-hero { background-image: url('../images/yabee/hero_small.png'); background-size: cover;  height: 420px; width: 100%; margin-top: 0;}
  .mvp #yabee .mvp-yabee-stack { background-image: url('../images/yabee/stack_small.png'); height: 50px; width: 450px; margin: 0 auto; margin-bottom: 20px; background-size: cover; padding:0;}
  .mvp #yabee .mvp-yabee-messages { background-image: url('../images/yabee/messages_small.png'); background-size: cover; height: 370px; width: 500px; max-height: 600px; max-width: 736px; margin: 0 auto;}

  .mvp #travel .mvp-travel-hero { background-image: url('../images/travel/hero_small.png'); background-size: cover; border: 1px solid grey; border-top: 0; height: 470px; width: 100%; margin-top: 0;}
  .mvp #travel .mvp-travel-stack { background-image: url('../images/travel/stack_small.png'); height: 50px; width: 485px; margin: 0 auto; margin-bottom: 20px; background-size: cover; padding:0;}
  .mvp #travel .mvp-travel-features { background-image: url('../images/travel/map_small.png'); background-size: cover; border:1px solid grey; height: 370px; width: 500px; max-height: 600px; max-width: 736px; margin: 0 auto;}

  .mvp #runIMG {background: #f5f5f5; }
  .mvp #runIMG .mvp-runIMG-hero { background-image: url('../images/runIMG/hero_small.png'); background-size: cover; border: 0px solid grey;  height: 493px; width: 320px; padding:0; margin: 0 auto; }
  .mvp #runIMG .mvp-runIMG-stack { background-image: url('../images/runIMG/stack_small.png'); height: 50px; width: 490px; margin: 0 auto; margin-bottom: 20px; background-size: cover; padding:0;}
  .mvp #runIMG .mvp-runIMG-map { background-image: url('../images/runIMG/map_small.png'); background-size: cover; border: 0px solid grey;  height: 400px; width: 320px; padding:0; margin: 0 auto; }

  .mvp #blog .mvp-blog-hero { background-image: url('../images/blog/hero_small.png'); background-size: cover;  height: 500px; width: 100%; margin: 0;}
  .mvp #blog .mvp-blog-stack { background-image: url('../images/blog/stack_small.png'); height: 50px; width: 190px; margin: 0 auto; margin-bottom: 20px; background-size: cover; padding:0;}
  .mvp #blog .mvp-blog-map { background-image: url('../images/blog/terminal_small.png'); background-size: cover; border:1px solid grey;  min-height: 250px; height: 71vw; width: 100%; margin-top: 0;}

  .mvp #scrape .mvp-scrape-hero { background-image: url('../images/scrape/hero_small.png'); background-size: cover; height: 425px; width: 500px; margin: 0 auto;}
  .mvp #scrape .mvp-scrape-stack { background-image: url('../images/scrape/stack_small.png'); height: 50px; width: 190px; margin: 0 auto; margin-bottom: 20px; background-size: cover; padding:0;}
  .mvp #scrape .mvp-scrape-terminal { background-image: url('../images/scrape/terminal_small.png'); background-size: cover; height: 280px; width: 500px; margin: 0 auto;}
}
