.mvp #travel {
  border: 0px dotted red;
}

.mvp #runIMG  {
  border: 0px dotted red;
}
//
// .content {
//   border-right: 1px dashed grey;
//   border-left: 1px dashed grey;
// }

#yabee {
  background: #fceee3;
}
.content section {
  width: 1080px;
  margin: 0 auto;
  height: 100%;
  padding: 0 50px;
}


.hero {
  border: 0px solid grey;
}
